/* Override horizontal padding between cards so it is not double width of vertical padding */
.row > div[class^="col-sm-"]:not(:last-child) {
    padding-right: 0px;
}

/* Equal padding at top and bottom */
.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Card colour overrides (Red, Green, Amber) */
.bg-danger {
    background-color: #D2222D!important;
}

.bg-warning {
    background-color: #FFBF00!important;
}

.bg-success {
    background-color: #238823!important;
}